{% if page.author_profile or layout.author_profile or page.sidebar or page.sideproject %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}

  {% if page.sideproject %}
  <nav class="nav__list">


    <ul class="nav__items">
    <li>

    {% assign prjTitle = page.category | replace: "-", " " | upcase %}

    <h3 class="nav__title" style="padding-left: 0;"><a href="/prj/{{page.category}}">{{ prjTitle }}</a></h3>
    <hr style="margin:0" />
    <ul>
    {% for category in site.categories %}
        {% assign cat = category[0] | join: ''%}
    {% assign pagecat = page.category | join: '' %}
      {% if cat ==  pagecat%}
          {% for post in category.last %}
        {% comment %} internal/external URL check {% endcomment %}
        {% if post.url contains "://" %}
          {% assign child_url = post.url %}
        {% else %}
          {% assign child_url = post.url | relative_url %}
        {% endif %}

        {% comment %} set "active" class on current page {% endcomment %}
        {% if post.url == page.url %}
          {% assign active = "active" %}
        {% else %}
          {% assign active = "" %}
        {% endif %}

        <li><a href="{{ child_url }}" class="{{ active }}" style="text-overflow: ellipsis">{{ post.title }}</a></li>
          {% endfor %}
    {% endif %}
    {% endfor %}
  </ul>
  </li>
  </ul>
  </nav>

  {% endif %}

  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | relative_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}
